# T2B Backend Environment Variables

# The port the backend server should listen on
PORT=5050

# MongoDB Connection String
MONGODB_URI=mongodb://127.0.0.1:27017/time2buy

# The public API URL (Internal health check uses this)
API_HOST=http://localhost:5050
